.fast_contact {
	border: 1px solid #eee;
}

body#home a#nav-home,
body#hosting a#nav-hosting,
body#webdesign a#nav-webdesign,
body#contact a#nav-contact {
	background: #ccc;
}

.navi a {
	color: #333;
}

.navi a:hover {
	text-decoration: none;
	color: #ccc;
	background: none;
	transition: color .15s ease-in-out;
   -moz-transition: color .15s ease-in-out;
   -webkit-transition: color .15s ease-in-out;
}

h3 {
	background: #22A7B3;
	padding: 12px;
	color: #fff;
	line-height: 15px;
}

.span6{
	background: #fafafa;
	text-align: center;
	border: 3px solid #ccc;
	border-radius: 5px;
	margin-left: 0;
	width: 49%;
}

.button{
	background-color:#22A7B3;
}

.logo a h1 {
    color: #333;
    margin-top: 50px;
}

.logo a h1:hover {
    color: rgb(204, 204, 204);
}

#contactinfo p{
	padding: 6px 20px;
}

#contactinfo iframe{
	border: 2px solid #ccc;
}

#myModalLabel{
	background-color: #22A7B3;
}

#contact_p{
	margin: 30px;
}
<<<<<<< HEAD
=======

.fast_contact p:hover, .icon-facebook:hover, .icon-linkedin:hover {
	color: #333;
	cursor: pointer;
}

.fast_contact, .icon-facebook, .icon-linkedin {
	background: #22A7B3;
	color: white;
}

#helptext_contact {
    background-color: #ccc;
    padding: 10px;
}
>>>>>>> Form validation finished
