@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-logo2 {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-logo2:before {
	content: "\e000";
}


/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }


h3 {
	font-weight: 100;
	color: #666;
}

.fast_contact {
	height: 30px;
	padding: 5px 0px 5px 0px;
}

.fast_contact li {
	display: inline-block;
	margin-right: 25px;
	margin-left: -15px;
}

.fast_contact a {
	text-decoration: none;
	color: #333;
}

.fast_contact a:hover {
	color: #ccc;
}

/*--------------logo-------------*/

.logo a h2 {
	float: left;
	margin-top: 35px;
	color: #fff;
	letter-spacing: 1px;
	font-size: 30px;
}

.icon-logo2:before {
	content: "\e000";
	vertical-align: -0.15em; 
	font-size: px;
}

.logo h2:hover {
	color: #333;
	transition: color .15s ease-in-out;
   -moz-transition: color .15s ease-in-out;
   -webkit-transition: color .15s ease-in-out;
}

.logo_symbol {
	font-size: 65px;
	padding-bottom: 85px;
}

/*--------------navi-------------*/

body#home a#nav-home,
body#hosting a#nav-hosting,
body#webdesign a#nav-webdesign,
body#contact a#nav-contact {
	background: #fff;
	color: #333;
}

.navi {
	position: absolute;
	height: 65px;
	width: 100%;
}

.navi ul {
	list-style-type: none;
	float: right;
}

.navi li {
	display: inline-block;
	margin-right: 15px;
	margin-top: 35px;
}

.navi a {
	font-size: 22px;
	color: #fff;
	padding: 5px 10px 5px 10px;
	font-weight: 100;
	border-radius: 5px;
}

.navi a:hover {
	text-decoration: none;
	color: #333;
	background: none;
	transition: color .15s ease-in-out;
   -moz-transition: color .15s ease-in-out;
   -webkit-transition: color .15s ease-in-out;
}

/*--------------general section stuff-------------*/

.headline {
	margin: 50px 50px 10px 50px;
}

.center {
	text-align: center;
}

.sub-headline {
	font-weight: 100;
	font-size: 40px;
}

.lead_sub {
	font-weight: 100;
	font-size: 24px;
}


/*--------------section1-------------*/

.section1 {
	width: 100%;
	padding: 125px 0px 85px 0px;
	background: #e77c08;
}

.btn_middle {
	width: 300px;
	margin-left: auto;
	margin-right: auto;	
}

.btn_middle a:hover {
	text-decoration: none;
	color: #fff;
}

/*--------------section2-------------*/

.section2 {
	padding: 65px 0px 50px 0px;
	width: 100%;
}

/*--------------section3-------------*/

.section3 {
	width: 100%;
	padding-bottom: 50px;
	padding-top: 50px;
}

.team {
	margin-top: 50px;
}

.team img {
	margin-top: -25px;
}

.team p {
	float: right;
	width: 200px;
	margin-right: 125px;
}

.team h3 {
	line-height: 20px;
	float: left;
	margin-left: 35px;
}

/*--------------section5-------------*/

.section5 {
	padding: 85px 0px 50px 0px;
	width: 100%;
}

/*--------------section6-------------*/

.section6 {
	padding: 85px 0px 50px 0px;
	width: 100%;
	background: #22a7b3;
}

/*--------------section7-------------*/

.section7 {
	padding: 50px 0px 50px 0px;
	width: 100%;
}


/*--------------footer-------------*/


footer {
	padding: 50px;
	background: #e0e0e0;
	border-top: solid 3px #c3c3c3; 
}

/*--------------Social icons-------------*/

.social_icons {
	font-size: 35px;
}

.social_icons a:hover {
	background: none;
	text-decoration: none;
}

.social_icons_mini {
	font-size: 20px;
	float:left;
	margin-top: 20px;
	margin-left: 5px;
}

.social_icons_mini a:hover {
	text-decoration: none;
	color: #e77c08
}

